body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400
}

div {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    font-size: 13px;
    }

    Header {display: flex;
    justify-content: flex-end;
   }

   Main {display: flex;
    flex-direction: column;
}
/*
Les éléments qui suivent
concernent les classes
 */

.Div01 {
    border: 2px solid red;
}

.Div02 {
    border: 2px solid orange;
      
}

.Div03 {
    border: 2px solid blue;
}

.Header-fonctions {
    color: black;
    padding: 0.1em 0;
    line-height: 2;
    height: 30px;
}

.Applications {
    background-image: url(https://ssl.gstatic.com/gb/images/i2_2ec824b0.png);
        background-size: 528px 68px;
    background-position: -132px -38px;
    opacity: .70;
    height: 30px;
    width:30px;
    }

.Connexion {
    color: white;
    font-weight: 600;
    background: #4285f4;
    border-radius: 3px;
    text-decoration: none;
    padding: 0.1em 1em;
    line-height: 2;
    height: 30px;
}

.Footer-Haut {
    font-size: 15px;
    color:#9a9a9c;
}

.Footer a {
      color:#5f6368;
}

.Footer-Bas{
    margin: 0 0.5em;
}

.Bouton-recherche {
    margin: 11px 4px;
    padding: 0px 16px;
    border-radius: 3px;
    min-width: 54px;
}

.Barre-de-recherche {
    
    
    
}

/*
.emca{}.emcat{}
.emcav{}.sbfc{}.iblpc{}.A8SBwf{position:relative;margin:0 auto;padding-left:12px;padding-top:6px;width:484px;}
#searchform.big .A8SBwf{width:584px}.RNNXgb{background:#fff;display:flex;border-radius:8px;border:1px solid #dfe1e5;box-shadow:none;border-radius:24px;z-index:3;height:44px;margin:0 auto;width:482px;}
.minidiv .RNNXgb{height:32px;border-radius:16px;margin:10px 0 0}
.emcav .RNNXgb{border-bottom-left-radius:0;border-bottom-right-radius:0;border-color:rgba(223,225,229,0);box-shadow:0 1px 6px 0 rgba(32,33,36,0.28)}.minidiv 
.emcav .RNNXgb{border-bottom-left-radius:0;border-bottom-right-radius:0}
.emcav.emcat .RNNXgb{border-bottom-left-radius:24px;border-bottom-right-radius:24px}.minidiv 
.emcav.emcat .RNNXgb{border-bottom-left-radius:16px;border-bottom-right-radius:16px}.RNNXgb:hover,.sbfc .RNNXgb{box-shadow:0 1px 6px 0 rgba(32,33,36,0.28);border-color:rgba(223,225,229,0)}
#searchform.big .RNNXgb{width:582px}.SDkEP{flex:1;display:flex;padding:5px 8px 0 16px;padding-left:14px;}.minidiv .SDkEP{padding-top:0}.FPdoLc{padding-top:18px;position:absolute;top:53px;width:487px;z-index:0}#searchform.big .FPdoLc{width:571px}.iblpc{display:flex;align-items:center;padding-right:13px;margin-top:-5px}.minidiv .iblpc{margin-top:0}
*/


/*
Les éléments qui suivent
concernent les id
 */


/* Header */



#Header-left {}

#Header-right {min-width: 250px; display: flex;
    justify-content: space-around;
    align-content: center;
}
#Gmail, Images, Applications, Connexion {height: 30px;
    width:30px;}

/* Doodle */

#Doodle {
    height: 233px;
    margin: 89px 0 0 0;
}

div#Doodle-center {}


/* Recherche */

#Recherche {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Recherche-Plus {
    padding: 18px;
}

#Barre-de-recherche {
    display: flex;
    margin: 11px 4px;
    padding: 0px 16px;
    width: 492px;
    height: 44px;
    background: white;
    border: 1px solid #5f6368;
    border-radius: 44px;
    z-index:3;
}

#Recherche-icone {}

#Recherche-texte {}

#Recherche-curseur {}


/* Footer */

#Footer-Haut{
display: flex;
justify-content: flex-start;
}

#Footer-Bas {
    display: flex;
justify-content: space-between;
}

#Footer-Haut, #Footer-Bas {
    background: #f2f2f2 ;
    border-top: #e4e4e4 solid 1px;
    line-height: 40px;
    }