body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400
}

div {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    font-size: 13px;
    }

    Header {display: flex;
    justify-content: flex-end;
   }

   Main {display: flex;
    flex-direction: column;
}
/*
Les éléments qui suivent
concernent les classes
 */

.Div01 {
    border: 2px solid red;
}

.Div02 {
    border: 2px solid orange;
      
}

.Div03 {
    border: 2px solid blue;
}

.Header-fonctions {
    color: black;
    padding: 0.1em 0;
    line-height: 2;
    height: 30px;
}

.Applications {
    background-image: url(https://ssl.gstatic.com/gb/images/i2_2ec824b0.png);
        background-size: 528px 68px;
    background-position: -132px -38px;
    opacity: .70;
    height: 30px;
    width:30px;
    }

.Connexion {
    color: white;
    font-weight: 600;
    background: #4285f4;
    border-radius: 3px;
    text-decoration: none;
    padding: 0.1em 1em;
    line-height: 2;
    height: 30px;
}

.Footer-Haut {
    font-size: 15px;
    color:#9a9a9c;
}

.Footer a {
      color:#5f6368;
}

.Footer-Bas{
    margin: 0 0.5em;
}

.Bouton-recherche {
    margin: 11px 4px;
    padding: 0px 16px;
    border-radius: 3px;
    min-width: 54px;
}

/*
Les éléments qui suivent
concernent les id
 */


/* Header */



#Header-left {}

#Header-right {min-width: 250px; display: flex;
    justify-content: space-around;
    align-content: center;
}
#Gmail, Images, Applications, Connexion {height: 30px;
    width:30px;}

/* Doodle */

#Doodle {
    height: 233px;
    margin: 89px 0 0 0;
}

div#Doodle-center {}


/* Recherche */

#Recherche {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    margin-block-end: 10em;

}

#Recherche-Plus {
    padding: 18px;
}

#Barre-de-recherche {
    display: flex;
    margin: 11px 4px;
    padding: 0px 16px;
    width: 492px;
    height: 44px;
    background: white;
    border: 1px solid #a1a5aa;
    border-radius: 44px;
    z-index:3;
}

/* Footer */

#Footer-Haut{
display: flex;
justify-content: flex-start;
}

#Footer-Bas {
    display: flex;
justify-content: space-between;
}

#Footer-Haut, #Footer-Bas {
    background: #f2f2f2 ;
    border-top: #e4e4e4 solid 1px;
    line-height: 40px;
    }