body {margin: 2em auto; padding: 1em; max-width: 800px; font-family: "open sans", Arial; color: #454545}
h1 {font-size: 32px; line-height: 45px; font-weight: 700}
h2 {font-size: 24px; line-height: 32px; font-weight: 700}
body {font-size: 16px; line-height: 22px; font-weight: 400}
.motherfuckingwebsite {color: #730000}